@font-face {
    font-family: 'Glamour-Extended';
    src: url('./GlamourAbsolute_Extended.otf');
}

@font-face {
    font-family: 'Glamour-Regular';
    src: url('./GlamourAbsolute_Regular.otf');
}

@font-face {
    font-family: 'Glamour-Condensed';
    src: url('./GlamourAbsolute_Condensed.otf');
}

h1, h2, h3, h4, h5, p, div, a, button, li, input {
    font-family: 'Glamour-Regular';
    font-weight: normal;
    color: rgb(74, 33, 88);
    cursor: default;
}

h1 {
    font-size: 3.3vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2.4vw;
}

h4, li, input {
    font-size: 2.1vw;
}

h5, a {
    font-size: 1.8vw;
}

p, div {
    font-size: 1.5vw;
}

#footer a, #user-access a {
    cursor: pointer;
    font-size: 1.5vw;
}

button {
    font-size: 2.4vw;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(243, 210, 255);
}

input {
    color: rgb(116, 0, 155);
}

::placeholder {
    color: rgb(74, 33, 88);
}