@font-face {
    font-family: 'Glamour-Extended';
    src: url('./GlamourAbsolute_Extended.otf');
}

@font-face {
    font-family: 'Glamour-Regular';
    src: url('./GlamourAbsolute_Regular.otf');
}

@font-face {
    font-family: 'Glamour-Condensed';
    src: url('./GlamourAbsolute_Condensed.otf');
}

h1, h2, h3, h4, h5, p, div, a, button, li, input {
    font-family: 'Glamour-Regular';
    font-weight: normal;
    color: rgb(204, 148, 226);
    cursor: default;
}

h1 {
    font-size: 3.9vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2.4vw;
}

h4, li {
    font-size: 2.1vw;
}

h5, input {
    font-size: 1.8vw;
}

p, div, a {
    font-size: 1.5vw;
    cursor: pointer;
}

button {
    font-size: 2.4vw;
}

a {
    text-decoration: none;
}