#account-access {
    text-align: center;
}

div.mdl-card {
    top: 9vw;
}

div.firebaseui_container, div.mdl-card, .firebaseui-textfield input, .firebaseui-form-actions button {
    background-color: rgba(250, 242, 242, 0.10);
    border: .45vw solid transparent;
    border-radius: 3vw;
    padding: 1.8vw;
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.09);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
}

.firebaseui-textfield input {
    background-color: rgba(250, 242, 242, 0.12);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.12);
    border: none;
    height: 3.9vw;
    border-radius: 0vw;
}

.firebaseui-textfield input:hover {
    background: none;
    background-color: rgba(250, 242, 242, 0.15);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.15);
}

.firebaseui-textfield input:focus {
    background: none;
    background-color: rgba(250, 242, 242, 0.21);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.18);
}

.mdl-button--raised.mdl-button--colored {
    background: none;
    padding: 0;
}

.mdl-button--raised.mdl-button--colored:hover {
    background: none;
    background-color: rgba(250, 242, 242, 0.12);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.12);
}

.mdl-button--raised.mdl-button--colored:focus {
    background: none;
    background-color: rgba(250, 242, 242, 0.18);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.15);
}

#logged-in, #logged-in-button {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    text-align: center;
    border-radius: 1.5vw;
    background-color: rgba(245, 245, 245, 0.12);
    border: none;
    padding: .9vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.09);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#logged-in {
    padding: 3vw;
    margin-top: 9vw;
}

#logged-in-header h1, #logged-in-header h4 {
    padding: 0;
    margin: 0;
}

#logged-in-header h4 {
    color: rgb(236, 199, 250);
}

#logged-in-button {
    padding-left: 1.8vw;
    padding-right: 1.8vw;
}

#logged-in-button:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.15);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.12);
}