#palette-menu {
    position: fixed;
    display: flex;
    gap: 1.8vw;
    z-index: 1;
    right: 1.8vw;
    top: 1.8vw;
}

.palette-menu-item, input {
    justify-items: center;
    background-color: rgba(245, 245, 245, 0.09);
    padding: 1.8vw;
    height: 3vw;
    border: none;
    border-radius: 3vw;
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.09);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    text-align: center;
}

.palette-menu-item h4 {
    cursor: pointer;
}

input:hover {
    cursor: text;
}

.palette-menu-item:hover {
    background-color: rgba(245, 245, 245, 0.15);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.12);
    cursor: pointer;
}

.palette-menu-item img {
    width: 3vw;
}

#name-swatch {
    padding: 0.9vw;
    position: fixed;
    top: 2.4vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

input:hover {
    background-color: rgba(245, 245, 245, 0.15);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.15);
}

input:focus {
    outline: none;
    background-color: rgba(245, 245, 245, 0.3);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.3);
}

#palette-generator {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

.colour-generator {
    height: 300vw;
    width: 25%;
    padding-top: 18vw;
}

.panel-tools {
    justify-content: center;
    gap: 3vw;
}

.colour-generator img {
    width: 3.9vw;
    cursor: pointer;
}