#user-icon {
    border-radius: 90%;
}

header img {
    width: 3vw;
    height: 3vw;
    object-fit: fill;
    cursor: pointer;
}

header {
    position: fixed;
    z-index: 1;
    left: 1.8vw;
    top: 1.8vw;
    background-color: rgba(245, 245, 245, 0.12);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.12);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 2.4vw;
    /* animation: ; */
}

#menu-head {
    background-color: rgba(245, 245, 245, 0.09);
    padding: 1.5vw;
    height: 5.1vw;
    border-radius: 2.4vw;
    display: flex;
    gap: 1.8vw;
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.09);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    align-items: center;
}

.user, .access {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

nav {
    flex-direction: column;
    padding: 1.5vw;
    padding-left: 1.8vw;
    gap: 1.2vw;
}

#navbar a, #menu-head a {
    cursor: pointer;
  }